/* boddy  */
.container {
    margin-bottom: 50px;
}

/* carousel next prevue contron positioning */
.carousel-control-prev {
    left: -71px;
    top: -35px;
}


/* nav bar section  */
/* nav bar reduus design  */
.navbar {
    border-radius: 10px;
}
/* serch bar  design*/
.form-control {
    border-radius: 50PX;
    width: 400px;
}
/* serch logo positioning  */
.search-logo {
    margin-top: 9px;
    margin-left: -27px;
    color: gray;
}



/* banner section  */
/* carusol background coller */
.background-coller {
    background-color: #feeae9;
    border-radius: 10px;
}
/* carusel div content alignment  */
.carousel-item {
    padding: 20px 40px;
}
/* button logo  */
.fa-long-arrow-right {
    margin-left: 6px;
    margin-top: 6px;
    position: absolute;
}
/* priceing coller  */
.price {
    color: #FF136F;
}
/* button design  */
.btn-deg {
    padding: 5px 26px 5px 11px;
    background-image: linear-gradient(to bottom, #FF5599 0%, #FF136F 100%);
    border: 1px solid #FF136F;
    border-radius: 5px;
    margin-top: 16px;
}
/* for banner section hover */
.btn-deg:hover{
    box-shadow: 0 0 1px 1px #f91b70;
}



/* catagories section  */
/* for  link under line remove */
.text-deco-catagories a:link {
    text-decoration: none;
}
  /* all catagories desine  */
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}
/* catagories color design  */
.cat1{
    background-image: linear-gradient( 90deg, #FFB12B 0%, #FFCE1A 100%);
}
.cat2{
    background-image: linear-gradient( 90deg, #FF5297 0%, #FF1873 100%);
}
.cat3{
    background-image: linear-gradient( 90deg, #3f7fff 0%, #3F07F8 100%);
}
/* catagories hover design  */
.cat1:hover{
    box-shadow: 0 0 1px 1px #faa81b;
}
.cat2:hover{
    box-shadow: 0 0 1px 1px #fd2a7f;
}
.cat3:hover{
    box-shadow: 0 0 1px 1px #1c65f6;
}
/* only catagories h1 coloer  */
.catagories h1{
    color: white;
}
/* only catagories img width set  */
.catagories img{
    width: 100px;
}



/* shoes-bages decoration  */
.shoes-bages{
    padding-bottom: 1px;
    background-color: #f8f9fa;
}
/* shoes  */
/* card one decaration  */
/* card (see alll) button decoration  */
.see-all-btn{
    border: none;
    background-color: transparent;
    color: #FF9D00;
}
/* card item alignment  */
.item p,h4,h5{
   text-align: center;
   cursor: pointer;
}
/* card  one all button decaration  */
.btn-dec2{
    margin-left: 110px;
    padding: 3px 27px 3px 8px;
    margin-bottom: 25px;
    border-radius: 5px;
}
/* button hover decoration  */
.btn-dec2:hover{
    background-color: black;
    color: white;
    border-radius: 0px;
}


/* footer  */
/* footer section  */
.footer{
    height: 350px;
    border-radius: 10px;
    margin-top: 56px;
    justify-items: center;
    background-color: #FEEAE9;
}
/* .footer h3,p,form{
   text-align: center;
} */
.footer p{
    color: #707070;
    padding-bottom: 20px;
}
/* footer mail-box design   */
.charch-ber {
    border-radius: 8px 8px 8px 8px;
    width: 340px;
    padding: 8px 6px;
    border: 2px solid #707070;
    height: 43px;
    color: #CCCCCC;
}
/* footer submit button  */
.btn-deg2 {
    height: 39px;
    padding: 0px 15px;
    margin-top: 2px;
    margin-left: -84px;
    border: 1px solid #FF2E81;
    background-image: linear-gradient( 90deg, #FF5196 0%, #FF1F77 100%);
    border-radius: 0px 8px 8px 0px;
    color: white;
}
/* fitter mail send button hover  */
.btn-deg2:hover{
    box-shadow: 0 0 2px 2px #FF2E81;
}