/* boddy  */
.container{
    margin-bottom: 60px;
}




/* nav bar section  */
/* nav bar reduus design  */
.navbar{
    border-radius: 10px;
}

/* serch bar  design*/
.form-control{
    border-radius: 50PX;
    width: 400px;
}
/* serch logo positioning  */
.search-logo{
    margin-top: 9px;
    margin-left: -27px;
    color: gray;
}




/* banner section  */
/* carusol background coller */
.background-coller{
    background-color: #feeae9;
    border-radius: 10px;
}
/* carusel div content alignment  */
.carousel-item{
    padding: 20px 40px;
}
/* priceing coller  */
.price{
    color: #FF136F;
}
/* button design  */
.btn-deg{
    padding: 5px 26px 5px 11px;
    background-image: linear-gradient( to bottom,#FF5599 0%,#FF136F 100%);
    border: 1px solid #FF136F;
    border-radius: 5px;
    margin-top: 16px;
}
/* button logo  */
.fa-long-arrow-right{
    margin-left: 6px;
    margin-top: 6px;
    position: absolute;
}